/* CSS Stylesheet */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 42px;
}

#redbox {
  background-color: red;
}

#greenbox {
  background-color: green;
}

.wrapper {
  margin: 60px auto;
  padding: 0 15px;
  max-width: 600px;  
}

.text-center {
  text-align: center;
}

.spacer {
  width: 100%;
  height: 600px;
}

.ani-canvas {
  width: 100%;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;  
  display: none;
}

.box.active {
  display: block;
  position: absolute;
}
